/*21861012_김나현*/
/*메인*/
main {
  padding-left: 40px;
  padding-right: 40px;
}




aside {
  width:180px;
  float:left;
  margin-top:30px;
}
aside h3 {
  margin:0 5px 5px 0;
  border-bottom:solid 3px #70FF3B;
}
aside h3 img{
  width: 150px;
  padding-bottom: 3px;
}
aside .col1 {
  float:left;
  font-size:14px;
  color:#afafaf;
}

aside .col3 {
  float:left;
  font-size:14px;
  color:#000000;
  font-weight: bold;
}

aside ul {
  margin:15px 5px 5px 0;
}
aside li {
  padding:12px 12px 12px 5px;
}
aside li.selected {
  border:0;

  color:#ffffff;
}

aside #customer {
  margin:30px 0 0 8px;
}






section#main1 {
  width:80%;
  float:left;
  padding-left: 20px;
}
section#main1 #view_title_box {
  margin:26px 0 0 0;
  padding:10px;
  border-bottom:solid 1px #70FF3B;
  font-size: 13px;
  font-weight: bold;
  color:#ffffff;
}
section#main1 #view_title_box #info {
  float:right;
}
section#main1 #view_content {
  padding:20px 10px 0 10px;
  line-height:150%;
  height: auto;
  font-size: 12px;
  color:#BFBFBF;
}
section#main1 #view_content #img1{

  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 35px;
}
section#main1 #view_content #img2{
  width:150px;
  display: block;
  margin: auto;

  padding-bottom: 30px;
}


section#main1 #comment_box {

  position:relative;
  background-color:#70FF3B;
  border-top:solid 1px #cccccc;
}
section#main1 #comment_box #title_comment {
  position:absolute;
  top:15px;
  left:18px;
  width: 110px;
}
section#main1 #comment_box textarea {
  width:500px;
  height:88px;
  position:absolute;
  top:15px;
  left:145px;
  background-color:#000000;
  color: #ffffff;
}
section#main1 #comment_box #ok_ripple {
  padding-top: 15px;
  margin-bottom: 20px;
  width: 90px;
  padding-right: 18px;
}







/*메인*/
